<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vinícius Roodrigues Xavier, Pedro Henrique Magro, Felipe Augusto Soares">
    <meta name="description" content="Site Agende Nail que faz agendamentos de unhas">
    <meta name="keywords" content="landing page, agendamentos de unhas, nail designer">
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/nailDesigner/src/main/resources/static/css/style_perfil.css">
    <title>Agenda Nail | Edição de Perfil</title>
</head>

<body>
    <header>
        <div class="container">
            <img src="/nailDesigner/src/main/resources/static/img/logo-preto-agende-nail.png" class="logo"></img>
            <nav class="menu" role="navigation">
                <div class="menu-page"><a href="landing-page.html">Início</a></div>
                <div class="menu-page"><a href="servicos.html">Serviços</a></div>
                <div class="menu-page"><a href="#">Contato</a></div>
                <div class="menu-page"><a href="sobre.html">Sobre mim</a></div>
            </nav>
            <a href="edicao_perfil.html">
                <img src="/nailDesigner/src/main/resources/static/img/foto-perfil.png" class="foto-perfil"></img>
            </a>
        </div>
    </header>

<main class="perfil">
  <div class="perfil-container">
   <div class="foto-perfil-editavel">
  <img src="/nailDesigner/src/main/resources/static/img/foto_generica_perfil.png" alt="Foto de perfil">
  <label for="upload-foto" class="botao-editar-foto">Editar foto</label>
  <input type="file" id="upload-foto" style="display: none;">
</div>

    <form class="formulario-perfil">
      <div class="linha-inputs">
        <div class="campo">
          <label for="nome">Nome</label>
          <input type="text" id="nome" placeholder="Nome completo">
        </div>
        <div class="campo">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="email@gmail.com">
        </div>
      </div>

      <div class="linha-inputs">
        <div class="campo">
          <label for="telefone">Telefone</label>
          <input type="tel" id="telefone" placeholder="(DDD) XXXXX-XXXX">
        </div>
        <div class="campo">
          <label for="senha">Senha</label>
          <input type="password" id="senha" placeholder="************">
        </div>
      </div>

      <button type="submit" class="botao-editar">Editar perfil</button>
    </form>
  </div>
</main>


</body>

</html>