<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vinícius Roodrigues Xavier, Pedro Henrique Magro, Felipe Augusto Soares">
    <meta name="description" content="Site Agende Nail que faz agendamentos de unhas">
    <meta name="keywords" content="landing page, agendamentos de unhas, nail designer">
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Agenda Nail | Página Inicial</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo"></div>
            <nav class="menu" role="navigation">
                <div class="menu-page"><a href="landing-page.html">Início</a></div>
                <div class="menu-page"><a href="servicos.html">Serviços</a></div>
                <div class="menu-page"><a href="#">Contato</a></div>
                <div class="menu-page"><a href="sobre.html">Sobre mim</a></div>
            </nav>
            <div>
                <div class="foto-perfil"></div>
            </div>
        </div>
    </header>
    <div class="faixada">
        <div class="faixada-texto">
            <p>Seja bem vindo ao</p>
            <p>Agende Nail</p>
            <p>Conheça meu négocio e marque uma agenda</p>
        </div>
        <div> 
            <button>Agenda</button>
        </div>
    </div>

</body>

</html>